/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #66a556;
    color: #000000;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #333;
}

/* Links */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #007BFF;
    text-decoration: underline;
}

/* Contact Section */
#contact p {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h2 {
    color: #333;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

/* Skills Section */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2em;
}

/* Contact Section */
#contact a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    section {
        margin: 10px;
        padding: 15px;
    }
}


